table.greenTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greenTable td, table.greenTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 14px;
  color: #000;
}
table.greenTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.greenTable thead {
  background: #187854;
  background: -moz-linear-gradient(top, #529a7f 0%, #2f8565 66%, #187854 100%);
  background: -webkit-linear-gradient(top, #529a7f 0%, #2f8565 66%, #187854 100%);
  background: linear-gradient(to bottom, #529a7f 0%, #2f8565 66%, #187854 100%);
  border-bottom: 2px solid #444444;
}
table.greenTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot td {
  font-size: 14px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}